<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <style>.corpo_principal {background-image: url(../imagens/EVENTOS.png);}</style>

</head>
<body>
    <div class='menu'>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="ESQUERDA">
                        <nav>
                            <a href="Index.html" target="_self">INICIO</a> &nbsp;
                            <a href="Sobre.html" target="_self">SOBRE</a> &nbsp;
                            <a href="Contactos.html" target="_self">CONTACTOS</a> &nbsp;
                        </nav>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="logo">
                        <img src="../imagens/Logo.png" width="35%">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="DIREITA">
                        <nav>
                            <a href="Loja.html" target="_self">LOJA</a> &nbsp;
                            <a href="#" target="_self">LOGIN</a> &nbsp;
                            <a href="Eventos.html" target="_self">EVENTOS</a> &nbsp;
                        </nav>
                    </div>
                </div>
            </div>  
        </div>
    </div>
        <div class="corpo_principal">
            <div class="Titulo">
                <h1>Junta-te à Familia</h1>
            </div>
        </div>
    <!-- conteudo -->    
    <div class="login">
        <div class="form-card">
            <div class="form-card-2">
                <form class="form">
                    <h2 class="title-login">LOGIN</h2>
                    <div class="field">
                        <span class="input-icon icon icon-user-1"></span>
                        <input type="text" class="input-field" placeholder="Nome" autocomplete="off">
                    </div>
                    <div class="field">
                        <span class="input-icon icon icon-locked"></span>
                        <input type="password" class="input-field" placeholder="Senha">
                    </div>
                    <div class="box-btn">
                        <button class="btn-login">Entrar</button>
                        <a href="#" class="btn-login">Registar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div id="linhas">
                <img src="../imagens/linha.png" width="100%" height="12px">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="esquerda">
                    <ul>
                        <li><a href="Sobre.html">Quem nos somos</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="Contactos.html">Contato</a></li>
                        <li><a href="Termos.html">Termos e Serviços</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="direita">
                    <div class="juntate">
                        <p>Junta te a nós!</p>
                    </div>
                    <div id="email">
                        <p>Email: <input type="email" placeholder="Email" size="24"></p>
                    </div>
                    <div id="password">
                        <p>Password: <input type="password" placeholder="Password" size="20"></p>
                        <button>Enviar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="redesText">
                <p>Redes Sociais</p>
            </div>
        <div class="row">
            <div class="redes">

                <a href="https://www.youtube.com/channel/UC2EWGHCZjLpOArh_Ty2oYgw"><img src="../imagens/Redes/youtube.png" alt="youtube_logo" width="40" height="40"></a>

                <a href="https://www.TikTok.com"><img src="../imagens/Redes/TikTok.png" alt="tic-tok" width="40" height="40"></a>

                <a href="https://www.instagram.com"><img src="../imagens/Redes/insta.png" alt="instagram_logo" width="40" height="40"></a>

                <a href="https://www.facebook.com"><img src="../imagens/Redes/fb.png" alt="facebook_logo" width="40" height="40"></a>
            </div>
        </div>
        <div id="linhas">
            <img src="../imagens/linha.png" width="100%" height="12px">
        </div>
        <div class="Copyrigth">
            <p>Copyrigth © 2024 UBI - CIM</p>
        </div>
    </div>        
</footer>

<!-- Scripts do Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>