<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <style>.corpo_principal {background-image: url(../imagens/SOBRE.png);}</style>

</head>

<body>
    <div class='menu'>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="ESQUERDA">
                        <nav>
                            <a href="Index.html" target="_self">INICIO</a> &nbsp;
                            <a href="#" target="_self">SOBRE</a> &nbsp;
                            <a href="Contactos.html" target="_self">CONTACTOS</a> &nbsp;
                        </nav>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="logo">
                        <img src="../imagens/Logo.png" width="35%">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="DIREITA">
                        <nav>
                            <a href="Loja.html" target="_self">LOJA</a> &nbsp;
                            <a href="Login.html" target="_self">LOGIN</a> &nbsp;
                            <a href="Eventos.html" target="_self">EVENTOS</a> &nbsp;
                        </nav>
                    </div>
                </div>
            </div>  
        </div>
    </div>
        <div class="corpo_principal">
            <div class="Titulo">
                <h1>Somos Nós</h1>
            </div>
        </div>
        
<div class="espaco"></div>            
<div class="organizadores">
    <img src="../imagens/ORGANIZADORES.png" width="20%">
</div>
<div class="espaco"></div>
<div class="Apoio">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="quadrado">
                    <img src="../imagens/organização/sofia.png" alt="Imagem da T-shirt">
                    <div class="esgotado">
                      <p>Organizador
                        (Fundador)</p>
                      <hr>
                      <p>Sou a organizadora Sofia Reis Ferreira, responsável por processos borucráticos, técnicos e organizacionais.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="quadrado">
                    <img src="../imagens/organização/romao.png" alt="Imagem da T-shirt">
                    <div class="esgotado">
                      <p>Organizador
                        (Fundador)</p>
                      <hr>
                      <p>Sou o organizador Ricardo Köenig Romão, responsável por processos borucráticos, técnicos e organizacionais.</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="Titulo"> <h1>História</h1> </div>
    <div class="historia">  
        <h1>A Saga dos Headbangers</h1>
        <h2>Capítulo 1: O Nascimento</h2>
        <p>Há muitos anos, nas profundezas das sombras, um grupo de apaixonados por metal se reuniu em uma pequena garagem. Eles compartilhavam uma visão: criar um espaço onde os amantes do heavy metal pudessem se unir, celebrar a música e a cultura, e se perder nas ondas sonoras poderosas.
            Assim nasceu os Headbangers, uma organização dedicada a promover os festivais de metal mais épicos do mundo. Seus fundadores, Sofia “Blackheart” Ferreira e Ricardo "Winterwolf" Romao, eram verdadeiros guerreiros do metal. Lúcia, com sua voz rasgada e cabelos negros como a noite, era a alma do MetalFest. André, com sua guitarra afiada como uma espada, era o coração.</p>
        <h2>Capítulo 2: O Primeiro Festival</h2>
        <p>O primeiro festival dos Headbangers aconteceu em um campo aberto, sob o luar. As tendas se erguiam como castelos, e os fãs de metal chegavam de todas as partes do mundo. Bandas lendárias como Steel Storm, Raging Thunder, e Eternal Fire incendiaram o palco. Os Headbangers pulavam, os mosh pits se formavam, e o ar vibrava com a energia do metal.</p>
        <h2>Capítulo 3: A Jornada Épica</h2>
        <p>A fama dos Headbangers se espalhou como um trovão. A cada ano, o festival crescia, atraindo mais bandas, mais fãs e mais loucura. Os organizadores enfrentavam desafios épicos: chuvas torrenciais, amplificadores explodindo, e até mesmo um dragão de fogo que invadiu o acampamento (ok, talvez isso seja um exagero, mas você entendeu).</p>
        <p>Mas havia uma forca que lotava contra rudo isso...</p>
        <h2>Capítulo 4: A União dos Clãs</h2>
        <p>O MetalFest não era apenas festivais;</p>
        <p> era uma comunidade. Os headbangers se tornaram uma tribo, unidos pelo amor à música e à rebeldia. Eles trocavam histórias, compartilhavam cervejas e faziam tatuagens com o logo dos Headbangers. Sofia e Ricardo sorriam, sabendo que haviam criado algo especial.</p>
        <h2>Capítulo 5: O Legado</h2>    
        <p>Hoje, os Headbangers são uma lenda. Os festivais continuam, os fãs continuam a se reunir, e a música do metal ecoa pelos vales. Sofia e Ricardo ainda procuram o caminho para Valhalla atraves dos festivais, mas suas almas ainda estão presentes em cada acorde, em cada grito de “METAL!” que ressoa nos festivais.
            E assim, a saga dos Headbangers continua, uma história de paixão, coragem e decibéis ensurdecedores. 🤘</p>
    </div>
    <div class="espaco"></div>
    <div class="Titulo"> <h1>Objetivos</h1></div>
    <div class="Objetivos">
        <p>Os Headbangers tem como objetivo promover e organizar festivais de Metal e Rock, só para os mais corajosos.</p>
        <p>O principal é fazer com que as pessoas se divertam e apressiem o eventos de forma segura e controlada.</p>
        <p>Para além das organizações, também temos uma loja com artisgos há venda.</p>
        <p>Relativamente ao poster, para além das informações sobre os dias e as bandas, contemos informações sobre os patrocinadores que dão-nos apoio e ajuda para isto tudo aconteça.</p>
        <p>Podes fazer o teu login no nosso site, de forma a que possas ficar atualizado sobre eventos ou artigos futuros!</p>
        <div class="espaco"></div>
    </div>
</div>
<div class="espaco"></div>


    </div>
    <!-- css
    .quadrado {
        position: relative;
        width: 300px;
        height: 600px;
        background-color: rgb(40, 40, 40);
        color: rgb(255, 255, 255);
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column; /* Posiciona os elementos em coluna */
        justify-content: baseline; /* Alinha os elementos no topo e na parte inferior */
    }
      .quadrado img {
        max-width: 100%;
        height: auto;
        display:flex; /* Para remover espaços indesejados abaixo da imagem */
        margin: auto; /* Centralizar a imagem horizontalmente */
      }
      .esgotado {
        text-align: center;
        margin-top: 10px;
      }
      .esgotado hr {
        margin: 5px 0;
      }
    
      .botao-comprar {
        text-align: center;
        margin-top: auto; /* Alinha o botão na parte inferior */
    }
    
      .botao-comprar button {
        background-color: black;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    
      }
    .espaco {
        padding: 20px;
    }
    
    .eventos {
        background-color: rgb(0, 0, 0);
    }
    
    .organizadores {
        background-color: rgb(0, 0, 0);
        text-align: center;
    }
    -->
    
    
    <footer>
        <div class="container">
            <div class="row">
                <div id="linhas">
                    <img src="../imagens/linha.png" width="100%" height="12px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="esquerda">
                        <ul>
                            <li><a href="Sobre.html">Quem nos somos</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="Contactos.html">Contato</a></li>
                            <li><a href="Termos.html">Termos e Serviços</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="direita">
                        <div class="juntate">
                            <p>Junta te a nós!</p>
                        </div>
                        <div id="email">
                            <p>Email: <input type="email" placeholder="Email" size="24"></p>
                        </div>
                        <div id="password">
                            <p>Password: <input type="password" placeholder="Password" size="20"></p>
                            <button>Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="redesText">
                    <p>Redes Sociais</p>
                </div>
            <div id="linhas">
                <img src="../imagens/linha.png" width="100%" height="12px">
            </div>
            <div class="redes">

                <a href="https://www.youtube.com/channel/UC2EWGHCZjLpOArh_Ty2oYgw"><img src="../imagens/Redes/youtube.png" alt="youtube_logo" width="40" height="40"></a>

                <a href="https://www.TikTok.com"><img src="../imagens/Redes/TikTok.png" alt="tic-tok" width="40" height="40"></a>

                <a href="https://www.instagram.com"><img src="../imagens/Redes/insta.png" alt="instagram_logo" width="40" height="40"></a>

                <a href="https://www.facebook.com"><img src="../imagens/Redes/fb.png" alt="facebook_logo" width="40" height="40"></a>
            </div>
            <div class="Copyrigth">
                <p>Copyrigth © 2024 UBI - CIM</p>
            </div>
        </div>        
    </footer>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>