<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <style>.corpo_principal {background-image: url(../imagens/Cartazresumo.png);}</style>

</head>

<body>
    <div class='menu'>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="ESQUERDA">
                        <nav>
                            <a href="Index.html" target="_self">INICIO</a> &nbsp;
                            <a href="Sobre.html" target="_self">SOBRE</a> &nbsp;
                            <a href="Contactos.html" target="_self">CONTACTOS</a> &nbsp;
                        </nav>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="logo">
                        <img src="../imagens/Logo.png" width="35%">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="DIREITA">
                        <nav>
                            <a href="Loja.html" target="_self">LOJA</a> &nbsp;
                            <a href="Login.html" target="_self">LOGIN</a> &nbsp;
                            <a href="Eventos.html" target="_self">EVENTOS</a> &nbsp;
                        </nav>
                    </div>
                </div>
            </div>  
        </div>
    </div>
            <div class="quadrado_2"> 
                <div class="container">
                    <div class="row">
                        <div class="corpo_termos">
                            <div class="col-md-12">
                                <h1>Termos e Condições de Serviço</h1>
                                <strong>1. Introdução</strong><p>Bem-vindo à Headbengers Events, a sua principal escolha para eventos de metal e rock inesquecíveis. Ao utilizar os nossos serviços, você concorda com estes termos e condições que garantem uma experiência excelente para todos os envolvidos.</p>
                                <strong>2. Serviços Oferecidos</strong><p>Oferecemos uma gama completa de serviços, incluindo a organização de eventos de metal e rock, parques de campismo adjacentes aos locais dos eventos e armazenamento seguro para pertences pessoais.</p>
                                <strong>3. Parques de Campismo</strong><p>Os nossos parques de campismo são projetados para proporcionar uma experiência confortável e conveniente. Por favor, respeite as regras do parque e mantenha a área limpa.</p>
                                <strong>4. Armazenamento de Pertences Pessoais</strong><p>Disponibilizamos instalações de armazenamento para os seus pertences pessoais. Enquanto tomamos medidas razoáveis para garantir a segurança, a Headbangers Events não se responsabiliza pela perda ou dano dos itens armazenados.</p>
                                <strong>5. Responsabilidade do Cliente</strong><p>É responsabilidade do cliente manter a segurança dos seus pertences pessoais. Recomendamos que não traga itens de valor excessivo e que utilize os nossos serviços de armazenamento a seu próprio risco.</p>
                                <strong>6. Alterações nos Termos</strong><p>Reservamo-nos o direito de alterar estes termos e condições a qualquer momento. Qualquer alteração entrará em vigor imediatamente após a publicação no nosso site oficial.</p>
                                <strong>7. Lei Aplicável</strong><p>Estes termos serão regidos e interpretados de acordo com as leis de Portugal, sem considerar o conflito de disposições legais.</p>
                                <strong>8. Contato</strong><p>Para qualquer dúvida ou esclarecimento, por favor, entre em contato connosco através do nosso e-mail: empresa@headbanger.com.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <footer>
        <div class="container">
            <div class="row">
                <div id="linhas">
                    <img src="../imagens/linha.png" width="100%" height="12px">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="esquerda">
                        <ul>
                            <li><a href="Sobre.html">Quem nos somos</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="Contactos.html">Contato</a></li>
                            <li><a href="Termos.html">Termos e Serviços</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="direita">
                        <div class="juntate">
                            <p>Junta te a nós!</p>
                        </div>
                        <div id="email">
                            <p>Email: <input type="email" placeholder="Email" size="24"></p>
                        </div>
                        <div id="password">
                            <p>Password: <input type="password" placeholder="Password" size="20"></p>
                            <button>Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="redesText">
                    <p>Redes Sociais</p>
                </div>
            <div class="row">
                <div class="redes">
                    <a href="https://www.facebook.com/minhaempresa"><img src="../imagens/facebook.png"></a>
                    <a href="https://www.twitter.com/minhaempresa"><img src="../imagens/twitter.png"></a>
                    <a href="https://www.instagram.com/minhaempresa"><img src="../imagens/instagram.png"></a>
                </div>
            </div>
            <div id="linhas">
                <img src="../imagens/linha.png" width="100%" height="12px">
            </div>
            <div class="Copyrigth">
                <p>Copyrigth © 2024 UBI - CIM</p>
            </div>
        </div>        
    </footer>

    <!-- Scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>